extends layout

block content
  h1= title
  if stocks && stocks.length > 0
    table
      thead
        tr
          th Stock Symbol
          th High
          th Low
          th Volume
      tbody
        each stock in stocks
          tr
            td= stock.symbol
            td= stock['2. high']
            td= stock['3. low']
            td= stock['6. volume']
  else
    p No stocks available